name: Update Profile Stats

on:
  schedule:
    # Every 6 hours
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Update README timestamp
        run: |
          TODAY=$(date +"%Y-%m-%d %H:%M:%S")
          echo "## Last updated: $TODAY" > last_update.md
          git config user.name "Shubham Rathod"
          git config user.email "shubhamrathod0015@gmail.com"
          git add last_update.md
          git commit -m "Update last updated timestamp: $TODAY" || echo "No changes"
          git push
